$background_gray: #04060c;
$primary_red: #fc0404;
$input_bg: #e6edf4;

// general
body {
  margin: 0;
  padding: 0;
  min-height: 80vh;
  color: white !important;
  background-color: $background_gray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  button {
    padding: 0.5rem 1rem !important;
    background-color: $primary_red !important;
    color: white !important;
    outline: none !important;
    border: 0 !important;
    border-radius: 0.3rem !important;
    min-height: 3rem !important;
    font-weight: bolder !important;

    &:hover {
      color: $background_gray !important;
      cursor: pointer !important;
    }
  }

  a {
    color: white;
    text-decoration: none;
    padding-bottom: 0.3rem;

    &:hover {
      color: $primary_red !important;
    }
  }
}

// navbar
nav {
  margin: 3rem;

  #btn_zone {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .change_language {
      text-align: center;
      margin-left: 1rem;
      width: 4rem;
      height: 4rem;

      .lang_indication {
        opacity: 0;
        color: $primary_red;
        font-weight: bolder;
        visibility: hidden;
        transition: opacity 0.2s;
      }

      &:hover .lang_indication {
        visibility: visible;
        opacity: 1;
      }
      &:hover .lang_flag {
        display: none;
        transition: display 0.2s, visibility 0.2s;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .page_title {
    text-align: center;
    font-weight: bold;
    color: $primary_red;
    margin-bottom: 3rem;
    font-size: 4rem;
  }

  #link_zone {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .nav_link,
    .nav_link:visited {
      text-decoration: none;
      position: relative;
      color: white;
      font-weight: bold;
    }
  }
}

// pages
.page {
  margin: 3rem;
  text-align: center;

  h1 {
    color: $primary_red;
  }

  p {
    font-size: larger;
  }
}
.text_zone {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;

  .text {
    width: 40%;
    text-align: justify;
  }
}

.case_card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  h3,
  p {
    width: 40%;
  }
}

// footer
footer {
  width: 100%;
  margin-bottom: -5rem;
}
